:root {
  --left-width: 45%;
  --content-margin-left: 2rem;
}

@font-face {
  font-family: logo-font;
  src: url(./Norse-Bold.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.left {
  position: relative;
  display: flex;
  width: var(--left-width);
  background-image: url("./img/forest-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-container {
  width: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  height: 150px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background-image: url(./img/odin-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
}

.logo-container > span {
  font-family: logo-font, sans-serif;
  color: white;
  font-size: 6.5rem;
}

.left > span,
.left span > a {
  color: white;
}

.left > span {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.right {
  display: flex;
  flex: auto;
  /* width: calc(100% - var(--left-width));; */
  background-color: #f1f1f1;
  flex-direction: column;
}

.right > p {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 10rem;
  max-width: 660px;
  margin-left: var(--content-margin-left);
}
.right p > span {
  display: block;
  margin-top: 2rem;
  margin-bottom: 4rem;
}


.container {
  display: flex;
  flex-direction: column;
  margin-left: var(--content-margin-left);
  padding-top: 1rem;
}

.right section{
  background-color: white;
  box-shadow: 2px 5px 10px rgb(0, 0, 0, 0.6);
  height: 250px;
}

.container > p {
  font-weight: 700;
  font-size: 1.5rem;
}

.container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.label-input {
  flex: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.lbl {

}

.inp {
  max-width: 250px;
}






